/* Todo Card */
.todo-card {
  background-color: #9b7ebd;
  width: 550px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 15px;
  padding: 20px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: red;
  position: sticky;
  top: 0; */
}

/* .todo-card h1 */
.todo-card h1 {
  margin: 0;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 35px;
}
hr {
  width: 100%;
  margin: 6px 0;
}
.btn {
  display: flex;
  gap: 7px;
  height: 30px;
  border: none;
  padding: 5px;
}
.btn button {
  width: 70px;
  height: 35px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}
/* div input */
.input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  margin-top: auto;
  /* position: sticky; */
  /* bottom: 0; */
  /* background-color: aqua; */
}
.input button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
}
.input input {
  width: 300px;
  border-radius: 10px;
  border: solid 1px black;
  padding: 10px;
  font-size: 15px;
}
