/* App Style */
.App {
  text-align: center;
}
button {
  margin: 10px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border: solid 1px black;
  background-color: rgba(241, 235, 235, 0.626);
}
input {
  margin: 10px;
  height: 20px;
  font-size: 15px;
}
form {
  border: solid 2px black;
  width: 300px;
  margin: 50px;
  padding: 15px;
}
textarea {
  margin: 10px;
  padding: 10px;
}
label {
  display: block;
}
